* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-box {
  width: 300px;
  text-align: center;
}

.loader {
  width: 0;
  border: none;
  border-radius: 10px;
  height: 30px;
  background: linear-gradient(90deg, orange, green, blue);
  animation: load 3s forwards;
}

.done {
  color: blue;
  font-size: 30px;
  animation: showtext 1s forwards;
  animation-delay: 3s;
  opacity: 0;
}

@keyframes load {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes showtext {
  from {
     opacity: 0;

  }

  to {
    opacity: 1;

  }
}

